<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <rule ref="PSR2"/>

    <file>Command/</file>
    <file>Controller/</file>
    <file>DependencyInjection/</file>
    <file>Entity/</file>
    <file>Event/</file>
    <file>EventSubscriber/</file>
    <file>Fixtures/</file>
    <file>Form/</file>
    <file>Notification/</file>
    <file>Resources/</file>
    <file>Service/</file>
    <file>Tests/</file>
    <file>Validator/</file>

    <exclude-pattern>*\.(inc|css|js)$</exclude-pattern>

</ruleset>
