parameters:
    #phpVersion: 80000
    #https://phpstan.org/config-reference
    excludes_analyse:
        - %currentWorkingDirectory%/.github/*
        - %currentWorkingDirectory%/build/*.php
        - %currentWorkingDirectory%/vendor/*.php
        - %currentWorkingDirectory%/Resources
        - %currentWorkingDirectory%/Tests/app_test.php
        - %currentWorkingDirectory%/Tests/App/AppKernel.php

    ignoreErrors:
        - '#Call to an undefined method Doctrine\\Persistence\\ObjectManager::getConnection\(\).#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'
        - message: '#Call to an undefined method Doctrine\\Persistence\\ObjectRepository<JMose\\CommandSchedulerBundle\\Entity\\ScheduledCommand>::findFailedAndTimeoutCommands\(\).$#'
          path: Controller/ListController.php
        - message: '#Call to an undefined method Doctrine\\Persistence\\ObjectRepository<JMose\\CommandSchedulerBundle\\Entity\\ScheduledCommand>::findLockedCommand\(\).$#'
          path: Command/UnlockCommand.php
        - message: '#Call to an undefined method Doctrine\\Persistence\\ObjectRepository<JMose\\CommandSchedulerBundle\\Entity\\ScheduledCommand>::findFailedAndTimeoutCommands\(\).$#'
          path: Command/MonitorCommand.php
        - message: '#Call to an undefined method Doctrine\\Persistence\\ObjectRepository<JMose\\CommandSchedulerBundle\\Entity\\ScheduledCommand>::findEnabledCommand\(\).$#'
          path: Command/ExecuteCommand.php
        - message: '#Call to an undefined method Doctrine\\Persistence\\ObjectRepository<JMose\\CommandSchedulerBundle\\Entity\\ScheduledCommand>::getNotLockedCommand\(\).$#'
          path: Command/ExecuteCommand.php
        - message: '#Call to an undefined method Doctrine\\Persistence\\ObjectManager::isOpen\(\).$#'
          path: Command/ExecuteCommand.php
        - message: '#Call to an undefined method Doctrine\\Persistence\\ObjectManager::create\(\).$#'
          path: Command/ExecuteCommand.php
        - message: '#Call to an undefined method Doctrine\\Persistence\\ObjectManager::getConfiguration\(\).$#'
          path: Command/ExecuteCommand.php

#includes:
    #- vendor/phpstan/phpstan-phpunit/extension.neon
    #- vendor/phpstan/phpstan-phpunit/rules.neon
