parameters:
    #https://phpstan.org/config-reference
    excludes_analyse:
        - %currentWorkingDirectory%/build/*.php
        - %currentWorkingDirectory%/vendor/*.php
        - %currentWorkingDirectory%/Resources
        - %currentWorkingDirectory%/Tests/app_test.php
        - %currentWorkingDirectory%/Tests/App/AppKernel.php
