{% trans_default_domain 'DukecityCommandScheduler' %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid" style="max-width: 1300px;">
        <div class="navbar-header">
            <nav class="navbar">
                <a class="navbar-brand text-white" href="#">{{ 'name'|trans }}</a>
            </nav>
        </div>
    </div>
</nav>
